/*General*/

body {
	font-family: 'Roboto', sans-serif;
	color: #291701;
	overflow-x: hidden;
}

a {
	color: #000;
	font-weight: bold;
}
/*Header*/
header{
  background-color: #3E589E;
  padding-top: 1px;
}

.social-header {
	margin-top: 10px;
}

	.social-header a {
		color: #FFFFFF;
	}

		.social-header a .fa-inverse {
			color: #3E589E;
		}

.menu-bar {
	background-color: #3E589E;
	margin-top: 0px;
}
	.menu-bar a {
		color: #FFFFFF;
		font-size: 12px;
		font-weight: 500;
	}

	.menu-bar a:hover {
		text-decoration: none;
		color: #3EC144;
	}

  .menu-list {
  	padding: 12px 0;
  	margin-bottom: 0;
  }
  	.menu-list > li:not(:last-child) {
  		margin-right: 30px;
  	}


/*Content*/

/* Main */
#main > .container {
	box-shadow: 0 7px 18px rgba(0, 0, 0, .5);
}

/* Carousel */
#slider-home {
	margin-bottom: 50px;
}

.carousel-caption {
	background-color: rgba(0,0,255,0.2);
	height: 100%;
	left: 0;
	top: 0;
	padding: 30px 45px;
	text-align: center;
	width: 340px;
}

.carousel-caption p {
		font-size: 14px;
		line-height: 18px;
	}

	.carousel-caption h2 {
		font-size: 26px;
		line-height: 30px;
	}

	.carousel-caption .h4 {
		font-size: 20px;
		margin-bottom: 30px;
		margin-top: 8px;
	}

	.carousel-caption img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}

		.carousel-caption a {
				border-radius: 0;
				font-weight: bold;
				color: #291701;
				border: none;
			}
			/* Info content */
			h3 {
				font-size: 24px;
				border-bottom: 1px solid #9e9e9e;
				padding-bottom: 10px;
				margin-bottom: 15px;
			}
			h3 i {
				color: #929292;
			}

			p {
				font-size: 16px;
			}
/*Footer*/

footer {
	background-color: #3E589E;
	font-size: 12px;
	padding: 10px 0;
}

	footer ul {
		margin-bottom: 0;
	}

	footer a:hover {
		color: #fff;
		text-decoration: none;
	}


/* Footer sidebars */
.sidebars-zone {
	background-color: #e0e0e0;
	padding-top: 20px;
}

.sidebars-zone h4 {
		font-size: 20px;
		border-bottom: 1px solid #9e9e9e;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
	.sidebars-zone a {
		margin-bottom: 18px;
		display: block;
	}

	.sidebars-zone a:hover {
		color: #291701;
	}


/* Helpers */
.mar-top-80 {
	margin-top: 40px;
}
